{% extends 'layouts/app.twig' %}

{% block title %}Прайс{% endblock %}

	{% block section %}
		<section class="content-box box-5 box-style-4"><!--Start Box-->
					<div class="zerogrid">
						<div class="row">
							<h2 class="header t-center">Запись</h2>
							<div class="row">
								<button class="btn btn-primary">записаться</button> 
							</div>
						</div>
					</div>
				</section>
	{% endblock %}