	{% extends 'layouts/app.twig' %}

	{% block content %}
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						Регистрация завершена!
					</div>
					<div class="panel-body">
						Добро пожаловать в 
						. 
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
