{% extends 'layouts/app.twig' %}

{% block section %}

	{% if errors == true %}
			<p>У вас ошибка ! </p>
	{% endif %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
		<div class="panel-heading">
			Регистрация
		</div>
		<div class="panel-body">
			<form action="{{ path_for('signup')}}" method="post">
				<div class="form-group">
					<label for="name">Имя</label>
					<input type="text" name="name" id="name" class="form-control">
				</div>
				<div class="form-group">
					<label for="surname">Фамилия</label>
					<input type="text" name="surname" id="surname" class="form-control">
				</div>
				<div class="form-group">
					<label for="middlename">Отчество</label>
					<input type="text" name="middlename" id="middlename" class="form-control">
				</div>
				<div class="form-group">
					<label for="Email">Email</label>
					<input type="text" name="name" id="Email" class="form-control">
				</div>
				<div class="form-group">
					<label for="password">Пароль</label>
					<input type="password" name="password" id="password" class="form-control">
				</div>
				<div class="form-group">
					<label for="passwordConfirm">Подтвердить пароль</label>
					<input type="password" name="passwordconfirm" id="passwordConfirm" class="form-control">
				</div>
				
				<div class="form-group">
					<button type="submit" name="submit" class="btn btn-primary">Зарегистрироваться</button>
				</div>
			</form>
		</div>
	</div>
		</div>
	</div>
{% endblock %}