{% extends 'layouts/app.twig' %}
{% block title %}Акции{% endblock %}
{% block section %}
	<section class="content-box box-4 box-style-3"><!--Start Box-->
					<div class="zerogrid">
						<div class="row">
							<div class="col-1-2">
								<div class="wrap-col item">
									<h2 class="header">Акции</h2>
									
								</div>
							</div>
							<div class="col-1-2">
								<div class="wrap-col item">
									
								</div>
							</div>
						</div>
					</div>
				</section>
{% endblock %}