{% extends 'layouts/admin.twig' %}

{% block title %}Контакты админка админки{% endblock %}


	{% block content %}
		<div class="col-md-10 content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    контакты
                </div>
                <div class="panel-body">
                    Тут список <button class="btn btn-success" >Добавить</button><button class="btn btn-primary" >Редактировать</button><button class="btn btn-danger" >удалить</button>
                </div>
            </div>
		</div>

	{% endblock %}